*.swp
*.o
Makefile.in
aclocal.m4
autom4te.cache/
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4
build/missing
config.log
config.status
configure
demos/c/.deps/
demos/c/.dirstamp
libtool
libuber.pc
src/.deps/
src/.dirstamp
src/config.h
src/config.h.in
src/stamp-h1
stamp-h1
