*.swp
*.o
*.lo
*.la
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
config.log
config.status
configure
libtool
libuber.pc
config.h
config.h.in
stamp-h1
demos/c/simple
Uber-1.0.gir
Uber-1.0.typelib
gtk-doc.make
uber-1.0.pc
